MONGO_DB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?appName=<project-name>
PORT=4000

REDIS_URL=redis://127.0.0.1:6379
GEMINI_API_KEY=<your-gemini-api-key>
GEMINI_MODEL=gemini-2.0-flash

JWT_SECRET=<your-secret-key>
JWT_EXPIRES=<your-expires-in ex: 3d>
